@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Cukup atur backface di sini, posisi pakai Tailwind saja */
.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
